<%- include('partials/header') %>

    <main>
        
        <%- include('partials/nav') %>

        <div class="container">
            <p>Welcome, <%= locals.username %></p>

            <% for(let tyd of tyds) { %>

                <% let username = tyd.fullname.split(' ')[0].toLowerCase() %>

                <div class="tyd">
                    <h3>@<%= username %></h3>
                    <p><%= tyd.tyd %></p>
                    <small><%= tyd.datePosted %></small>
                </div>

            <% } %>
        </div>

    </main>

<%- include('partials/footer') %>